<form
        method="post"
        action="/dons/{{ promesseDon.id }}/supprimer"
        onsubmit='return confirm("Voulez vous supprimer la promesse N° {{ promesseDon.id}} ?")'
>
    <button class="btn btn-danger btn-sm"> supprimer </button>
</form>

