{% extends "base.html.twig" %}

{% block title %}Nouveau don{% endblock %}

{% block content %}
    <div class="hstack gap-2 d-flex justify-content-between mt-3">
        <a class="btn btn-danger btn-sm" href="/dons">Retour</a>
    </div>
    <hr/>
    <h1>Nouvelle promesse de don</h1>
    <hr/>
    {% if errors.message is defined  %}
        <div class="alert alert-danger">
            {{ errors.message }}
        </div>
    {% endif %}
    {% include 'promesse_don/_form.html.twig' with { path:"/dons/nouveau" } %}
{% endblock %}

